
.icon-cog-alt:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-wikipedia-w:before { content: '\f266'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */